*

!.gitignore
!README.md
!src/
!src/main.py
!config.json
!src/astar.py
!src/icons
!src/bomb.py
!src/constants.py
!src/game_logic.py
!src/movement.py
!src/save_load.py
!src/sound.py


src/*
!src/main.py
!src/astar.py
!src/icons
!src/bomb.py
!src/constants.py
!src/game_logic.py
!src/movement.py
!src/save_load.py
!src/sound.py